<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<header><h1>Library</h1></header>
<nav>
    <a href="/">Home</a>
    <a href="/create">Create</a>
</nav>
<section>
    <form action="/search/advanced" method="get">
        <div>
            <label for="title">Title</label>
            <input id="title" name="title" title="title">
        </div>
        <div>
            <label for="author">Author</label>
            <input id="author" name="author" title="author">
        </div>
        <div>
            <label for="publisher">Publisher</label>
            <input id="publisher" name="publisher" title="publisher">
        </div>
        <button type="submit">Search</button>
    </form>
</section>
</body>
</html>