<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<header><h1>Library</h1></header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/search">Search advanced</a></li>
    </ul>
</nav>
<h2>{{book.getTitle()}}</h2>
<ul>
    <li><small>Tác giả: {{book.getAuthor()}}</small></li>
    <li><small>Nhà xuất bản: {{book.getPublisher().getName()}}</small></li>
    <li><small>Giá: {{book.getPrice()}}</small></li>
</ul>
<form action="/edit/{{book.getId()}}" method="get">
    <button>Edit</button>
</form>
<form action="/delete/{{book.getId()}}" method="get">
    <button>Delete</button>
</form>
</body>
</html>