<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <h1>Library</h1>
</header>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item active"><a href="/create" class="nav-link">Create</a></li>
        <li class="nav-item active"><a href="/search" class="nav-link">Search advanced</a></li>
    </ul>
</nav>
<h2>{{book.getTitle()}}</h2>
<ul>
    <li><small>Tác giả: {{book.getAuthor()}}</small></li>
    <li><small>Nhà xuất bản: {{book.getPublisher().getName()}}</small></li>
    <li><small>Giá: {{book.getPrice()}}</small></li>
</ul>
<form action="/edit/{{book.getId()}}" method="get" style="float: left">
    <button class="btn btn-outline-success">Edit</button>
</form>
<form action="/delete/{{book.getId()}}" method="get">
    <button class="btn btn-outline-danger">Delete</button>
</form>
</body>
</html>