{% extends 'layout.njk' %}

{% block title%}detail | book {{book.getId()}}{% endblock %}

{% block navbar%}
<ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/create">Create</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
</ul>
{% endblock %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        <h2>{{book.getTitle()}}</h2>
        <div style="margin-top: 20px; margin-bottom: 20px">
            <small>Tác giả: {{book.getAuthor()}}</small><br>
            <small>Nhà xuất bản: {{book.getPublisher().getName()}}</small><br>
            <small>Giá: {{book.getPrice()}}</small><br>
        </div>
        <div>
            <a href="/edit/{{book.getId()}}" id="edit" class="btn btn-primary">Edit</a>
            <a href="/delete/{{book.getId()}}" class="btn btn-danger">Delete</a>
        </div>
    </li>
</ul>
{% endblock %}
