{% extends 'layout.njk' %}

{% block title%}Update | book {{book.getId()}}{% endblock %}

{% block navbar%}
<ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/create">Create</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
</ul>
{% endblock %}

{% block content %}
<form action="/edit-book/{{book.getId()}}" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" type="text" name="title" value="{{book.getTitle()}}">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input id="author" class="form-control" type="text" name="author" value="{{book.getAuthor()}}">
    </div>
    <div class="form-group">
        <label for="publisher">Publisher</label>
        <select id="publisher" class="form-control" name="publisher_id">
            <option value="{{book.getPublisher().getId()}}">{{book.getPublisher().getName()}}</option>
            {% for publisher in publishers %}
            <option value="{{publisher.getId()}}">{{publisher.getName()}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input id="price" class="form-control" type="number" name="price" value="{{book.getPrice()}}">
    </div>
    <button class="btn btn-primary">Save</button>
</form>
{% endblock %}
