<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/read-book.js"></script>
    <script src="js/keyword.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <header><h1>Library</h1></header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item active"><a href="/create" class="nav-link">Create</a></li>
                <li class="nav-item active"><a href="/search" class="nav-link">Search advanced</a></li>
                <li class="nav-item active" style="float: right">
                    <input id="search-keyword" class="form-control" placeholder="Search Keyword">
                </li>
            </ul>
        </nav>
        <section>
            <ul id="list-books" class="list-group"></ul>
        </section>
    </div>
</body>
<script id="book-template" type="text/html">
    <li class="list-group-item">
        <a id="a" href="/book/:id:">:bookName: - :author:</a>
    </li>
</script>
</html>