<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>library books</title>
    <link rel="stylesheet" href="stylesheets/menu-bar.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/table-books.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/content-book.css" type="text/css">
</head>
<body>
    <div id="menu">
        <h1>Library</h1>
        <ul>
            <li><a class="active" href="http://localhost:3000/">Home</a></li>
            <li style="float:right"><a href="#">Edit book</a></li>
            <li style="float:right"><a href="http://localhost:3000/create">Create book</a></li>
            <li style="float:right"><a href="http://localhost:3000/list">List books</a></li>

        </ul>
    </div>
    <div id = content>

        <div id="footer">
            <a style="color: #E8E8E8">Viet Pham</a>
        </div>
    </div>
</body>
</html>