<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <div id="container">
        <div id="menu">
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/books">All books</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="header">
                <div id="title"><h1>Library Books</h1></div>
            </div>
            <div class="frame-title">

            </div>
        </div>
    </div>
</body>