<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <header><h1>Library</h1></header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/search">Search advanced</a></li>
        </ul>
    </nav>
    <section>
        <form action="/search/keyword" method="get">
            <div>
                <input name="keyword" title="keyword">
            </div>
            <div>
                <button value="search">Search</button>
            </div>
        </form>
    </section>
    <section>
        <ul>
            {% for book in books %}
            <li>
                <a href="/detail/{{book.getId()}}">{{book.getTitle()}} - {{book.getAuthor()}}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>