{% extends 'layout.njk' %}

{% block content %}
<div style="margin-bottom: 20px; margin-top: 20px">
    <input id="search-keyword" placeholder="Search" name="search">
</div>
<div>
    <ul id="list-books" class="list-group"></ul>
</div>
<script id="book-template" type="text/html">
    <li class="list-group-item">
        <a id="a" href="/book/:id:">:bookName: - :author:</a>
    </li>
</script>
<script src="js/read-book.js"></script>
<script src="js/keyword.js"></script>
{% endblock %}
