#container {
    position: relative;
    left: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3B8BBA;
}

a:hover,
a:visited {
    color: #265778;
}

#content {
    padding: 10em 8em 2em 8em;
}

#footer {
    font-size: 85%;
    border-top: 1px solid #454545;
    color: #454545;
    padding: 1em 3em;
    background-color: #111;
}
#content h1 {
    font-style: italic;
    color: #333333;
}