table tr td {
    border: 2px solid #454545;
}

table{
    border-collapse: collapse;
    width: 99%;
}

thead {
    height: 25px;
    align-content: center;
    background-color: #454545;
    font-family: Arial;
    font-style: italic;
}
tbody {

}

tfoot {
    height: 25px;
    background-color: #454545;
}