<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <header><h1>Library</h1></header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/search">Search advanced</a></li>
        </ul>
    </nav>
    <section>
        <form action="/edit-book/{{book.getId()}}" method="post">
            <div>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" value="{{book.getTitle()}}">
            </div>
            <div>
                <label for="author">Author</label>
                <input id="author" type="text" name="author" value="{{book.getAuthor()}}">
            </div>
            <div>
                <label for="publisher">Publisher</label>
                <select id="publisher" name="publisher_id">
                    <option value="{{book.getPublisher().getId()}}">{{book.getPublisher().getName()}}</option>
                    {% for publisher in publishers %}
                    <option value="{{publisher.getId()}}">{{publisher.getName()}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="price">Price</label>
                <input id="price" type="text" name="price" value="{{book.getPrice()}}">
            </div>
            <button>Save</button>
        </form>
    </section>
</body>
</html>