<!DOCTYPE html>
<html lang="eng">
<head>
    
</head>
<body>
    <button type="button" id="getAllBook"></button>
    <script>
        (function () {
            let httpRequest;
            document.getElementById("getAllBook").addEventListener('click', makeRequest);
            function makeRequest() {
                httpRequest = new XMLHttpRequest();

            }
        })
    </script>
</body>
</html>